.imagesList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.imagesListLi {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    cursor: pointer;
}