.wrapper {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.titleLogo {
    font-size: 5rem;
    fill: var(--principal-color);
}
.titleText {
    color: var(--principal-color);
    font-size: 1.8rem;
    color: var(--principal-color);
    font-weight: bolder;
}