.container {
    display: flex;
    padding: 50px 0px;
}
.flexItem {
    background-color: transparent;
    margin-left: 60px;
    flex-grow: 1;
}

@media (max-width: 900px) {
    .sideBarContainer {
        display: none;
    }
    .container {
        padding: 25px 0px;
    }
    .flexItem {
        margin: 0;
    }
}