.carousel {
    max-height: 700px;
    display: flex;
    background-color: transparent;
}
@media (max-height: 900px) {
    .carousel {
        max-height: 500px;
    }
}
@media (max-height: 700px) {
    .carousel {
        max-height: 300px;
    }
}
@media (max-height: 470px) {
    .carousel {
        max-height: 250px;
    }
}