.wrapper {

}
.container {

}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.headerItem {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.label {
    font-size: 0.9rem;
}
.input {
    flex: 1;
    padding: 10px 20px;
    border: 1px solid rgb(210, 210, 210);
    transition: 0.25s;
    outline: none;
}
.input:focus {
    border-color: var(--principal-color);
}
.input:disabled {
    opacity: 50%;
    cursor: default;
}
.body .inputContainer, .body .inputContainer .input {
    height: 200px;
}
.footer {

}


@media (max-width: 900px) {
    .headerItem {
        flex-wrap: wrap;
    }
    /* .inputContainer, .input {
        max-width: 100%;
    } */
}