.button {
    width: 100%;
    padding: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--principal-color);
    transition: 0.25s;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    padding: 10px 30px;
    text-decoration: none;
}
.disabled {
    cursor: default;
    opacity: 50%;
    pointer-events: none;
}
.containerIcon {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    font-size: 1.5rem;
    transition: 0.25s;
}